/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'),
       url('./raleway-v14-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./raleway-v14-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./lora-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./lora-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* merriweather-regular - latin */
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('merriweather-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('merriweather-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* fantastique sans mono - latin */
@font-face {
  font-family: 'FantasqueSansMono';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./FantasqueSansMono-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./FantasqueSansMono-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  color: #212529;
  font-family: 'Merriweather', 'Times New Roman', Times, serif;
  font-size: 1.1rem;
  padding-top: 56px;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #b80d57;
}

h2 {
  margin-top: 1.2rem;
}
h3 {
  margin-top: 0.7rem;
}


header, .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
  color: #b80d57;
  font-weight: 600;
}

.navbar-light {
  background-color: #ffffffee;
  /* border-bottom: 1px solid #b80d57; */
  box-shadow: 0px -4px 10px #b80d57;
}

pre[class*="language-"], code[class*="language-"] {
  font-family: 'FantasqueSansMono', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
}

.masthead {
  background-color: #721b65;
  padding: 20px 0;
}
.masthead div, .masthead h1 {
  color: white;
}

.main {
  margin-top: 1rem;
}

footer {
  color: #b80d57;
}

.multicolumn img {
  max-width:100%;
  height:auto;
}

.markImg {
	box-shadow: 6px 6px 6px -1px rgba(125, 25, 0, 0.5)
}

.custom-header{
	text-shadow: 0px -4px 10px #b80d57;
	border-bottom: 4px dotted lightsalmon;	
}

img.special {
  max-width: 30%;
  margin: 0 7px;
}

.diff-color {
  color: maroon;
  backgroup-color: #c0deff;
  font-style: normal;
}
/* Overline From Left */
.hvr-overline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-overline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  top: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before {
  right: 0;
}

pre[class*="language-"] {
  scrollbar-color: rgb(136, 54, 218) rgb(95, 116, 95);
  scrollbar-width: thin;
}
pre[class*="language-"]::-webkit-scrollbar {
  background-color:rgb(95, 116, 95); /* or add it to the track */
  width: 7px; height:7px;
}

/* Add a thumb */
pre[class*="language-"]::-webkit-scrollbar-thumb {
    background: rgb(136, 54, 218)
}

a{ 
  color: #c700ff;
}
